/* Estilo para el cuerpo */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f6f6f6; /* Fondo gris claro */
  text-align: center;
}

/* Estilo para el navbar */
.navbar {
  background-color: #343a40; /* Azul oscuro */
  color: #ffffff; /* Texto blanco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

/* Estilo para los enlaces del navbar */
.navbar-nav .nav-link {
  color: #ffffff; /* Texto blanco */
  font-weight: bold; /* Fuente negrita */
  font-size: 20px; /* Tamaño de fuente */
  transition: color 0.3s ease; /* Transición suave al color */
}

/* Cambio de color al pasar el mouse por encima */
.navbar-nav .nav-link:hover {
  color: #e1fa02; /* Amarillo al pasar el mouse */
}

/* Estilo para el enlace activo en el navbar */
.navbar-nav .nav-item.active .nav-link {
  color: #ffd700; /* Amarillo para el enlace activo */
}

/* Estilo para el contenido principal */
.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 40px;
  background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Degradado en el fondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  border-radius: 20px;
  color: #fff; /* Texto blanco */
}

/* Estilo para los botones dentro del contenido */
.container button {
  background-color: #ff7e5f; /* Rojo */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

/* Cambio de color al pasar el mouse por encima de los botones */
.container button:hover {
  background-color: #ff5e40; /* Rojo más oscuro al pasar el mouse */
}

/* Estilo para los encabezados */
h1, h2 {
  font-size: 40px;
  color: #333;
  background-color: #feb47b; /* Fondo de color llamativo para los encabezados */
  padding: 10px; /* Agregando un relleno para separar el texto del borde del fondo */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

/* Estilo para los párrafos */
p {
  font-size: 30px;
  color: #585050;
  background-color: #81cce2; /* Fondo celeste llamativo */
  padding: 20px; /* Agregando un relleno para separar el texto del borde del fondo */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}
